/libeknav/
/silkopter/def_lang/prj/build-def_lang-Desktop-Debug/Alias.o
/build-AndroidViewer-Android_for_armeabi_v7a_GCC_4_9_Qt_5_7_1-Debug/
/build-AndroidViewer-Android_for_armeabi_v7a_GCC_4_9_Qt_5_7_1-Release/
