*.o
*.gch
Makefile.*
Makefile
*.pro.user
*.pro.user.*
*.apk
**/prj/build-*

silkopter/gs/bin/gs
silkopter/rc/bin/rc
silkopter/fc/bin/rpi/debug/fc
silkopter/fc/bin/rpi/release/fc

silkopter/android-viewer/.gradle/
silkopter/android-viewer/.idea/
silkopter/android-viewer/build/
silkopter/android-viewer/*.iml
silkopter/android-viewer/app/*.iml
silkopter/android-viewer/local.properties
silkopter/android-viewer/android/local.properties
silkopter/android-viewer/android/gradle.properties
silkopter/io_board/src/*.lst
silkopter/io_board/src/*.d
silkopter/io_board/*.eep
silkopter/io_board/*.elf
silkopter/io_board/*.hex
silkopter/io_board/*.lss
silkopter/io_board/*.map
silkopter/io_board/.projectile

silkopter/android-viewer/build-*
silkopter/build-*

